@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}
body {
    width: 100%;
    height: auto;
}


header {
    background-color: #000;
    padding: 15px;
    text-align: center;
}
header p {
    line-height: 20px;
}
header p, header p a {
    color: #fcfcfc;
}


nav {
    width: 100%;
    padding: 25px 0px;
    display: flex;
    justify-content: center;
    background-color: #f0eeeb;
}
nav .nav-main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav .nav-main .nav-logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

nav .nav-main .nav-mobile-menu {
    display: none;
    cursor: pointer;
}
nav .nav-main .nav-mobile-menu img {
    width: 100%;
    display: block;
}

nav .nav-main ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
nav.mobile-menu {
    padding: 0px 15px;
    display: none;
}
nav.mobile-menu.active {
    display: block;
}
nav.mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}
nav .nav-main ul li, nav.mobile-menu ul li {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s background ease;
}
nav .nav-main ul li:hover, nav.mobile-menu ul li:hover {
    background: rgba(128, 128, 128, 0.559);
}
nav .nav-main ul li a, nav.mobile-menu ul li a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}
nav .nav-main ul:last-of-type li:last-child, nav.mobile-menu ul:last-of-type li:last-child {
    margin-left: 10px;
    background: #000;
}
nav.mobile-menu ul:last-of-type li:last-child {
    margin-left: unset;
}
nav .nav-main ul:last-of-type li:last-child a, nav.mobile-menu ul:last-of-type li:last-child a {
    color: #f0eeeb;
    font-weight: 600;
}




footer {
    width: 100%;
    padding: 50px 0px 25px 0px;
    display: flex;
    justify-content: center;
    background-color: #000;
}
footer .footer-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
}
footer .footer-main .footer-content {
    display: flex;
    column-gap: 50px;
}
footer .footer-main .footer-content .footer-1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
footer .footer-main .footer-content .footer-1 .footer-1-logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}
footer .footer-main .footer-content .footer-1 .footer-l-content {
    line-height: 20px;
    color: #6e6f6e;
    font-size: 15px;
}
footer .footer-main .footer-content .footer-2 {
    width: 60%;
    display: flex;
    justify-content: space-between;
}
footer .footer-main .footer-content .footer-2 .footer-f1, footer .footer-main .footer-content .footer-2 .footer-f2 {
    display: flex;
    width: 50%;
}
footer .footer-main .footer-content .footer-2 .footer-2-1, footer .footer-main .footer-content .footer-2 .footer-2-2, footer .footer-main .footer-content .footer-2 .footer-2-3, footer .footer-main .footer-content .footer-2 .footer-2-4 {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 50%;
}
footer .footer-main .footer-content .footer-2 .footer-2-1 .footer-2-1-title, footer .footer-main .footer-content .footer-2 .footer-2-2 .footer-2-2-title, footer .footer-main .footer-content .footer-2 .footer-2-3 .footer-2-3-title, footer .footer-main .footer-content .footer-2 .footer-2-4 .footer-2-4-title {
    font-size: 16px;
    color: #fff;
}
footer .footer-main .footer-content .footer-2 .footer-2-1 .footer-2-1-links, footer .footer-main .footer-content .footer-2 .footer-2-2 .footer-2-2-links, footer .footer-main .footer-content .footer-2 .footer-2-3 .footer-2-3-links, footer .footer-main .footer-content .footer-2 .footer-2-4 .footer-2-4-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
footer .footer-main .footer-content .footer-2 .footer-2-1 .footer-2-1-links li a, footer .footer-main .footer-content .footer-2 .footer-2-2 .footer-2-2-links li a, footer .footer-main .footer-content .footer-2 .footer-2-3 .footer-2-3-links li a, footer .footer-main .footer-content .footer-2 .footer-2-4 .footer-2-4-links li a {
    text-decoration: none;
    color: #6e6f6e;
    font-size: 15px;
}
footer .footer-main .footer-text {
    width: 100%;
    text-align: center;
}
footer .footer-main .footer-text p, footer .footer-main .footer-text a {
    color: #6e6f6e;
}



main section {
    width: 100%;
    display: flex;
    justify-content: center;
}
main section.section-1 {
    background-color: #f0eeeb;
    padding: 25px 0px 50px 0px;
}
main section.section-1 .section-1-main {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    column-gap: 100px;
}
main section.section-1 .section-1-main .section-1-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
main section.section-1 .section-1-main .section-1-content .section-1-title {
    font-size: 40px;
    line-height: 42px;
}
main section.section-1 .section-1-main .section-1-content .section-1-desc {
    color: #5a5444;
    line-height: 24px;
}
main section.section-1 .section-1-main .section-1-content .section-1-lists {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4px;
}
main section.section-1 .section-1-main .section-1-content .section-1-lists li {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #5a5444;
    font-weight: 500;
}
main section.section-1 .section-1-main .section-1-content .section-1-form {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
main section.section-1 .section-1-main .section-1-content .section-1-form .section-1-form-input {
    padding: 10px 12px;
    border: 1px solid #5d574754;
    border-radius: 5px;
    width: 200px;
}
main section.section-1 .section-1-main .section-1-content .section-1-form .section-1-button {
    background: #000;
    color: #f0eeeb;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
main section.section-1 .section-1-main .section-1-img {
    width: 40%;
}
main section.section-1 .section-1-main .section-1-img picture {
    width: 100%;
}
main section.section-1 .section-1-main .section-1-img picture img {
    width: 100% !important;
}



main section.section-2 {
    padding: 50px 0px 25px 0px;
}
main section.section-2 .section-2-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
main section.section-2 .section-2-main .section-2-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
main section.section-2 .section-2-main .section-2-images img {
    width: 120px;
    height: fit-content;
}
main section.section-2 .section-2-main .section-2-1, main section.section-2 .section-2-main .section-3-1 {
    display: flex;
    align-items: center;
    background-color: #f0eeeb;
    border-radius: 10px;
    padding: 50px 50px 0px 75px;
    column-gap: 50px;
}
main section.section-2 .section-2-main .section-2-1 .section-2-1-content, main section.section-2 .section-2-main .section-3-1 .section-3-1-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
main section.section-2 .section-2-main .section-2-1 .section-2-1-content .section-2-1-title, main section.section-2 .section-2-main .section-3-1 .section-3-1-content .section-3-1-title {
    font-size: 40px;
    line-height: 42px;
}
main section.section-2 .section-2-main .section-2-1 .section-2-1-content .section-2-1-desc, main section.section-2 .section-2-main .section-3-1 .section-3-1-content .section-3-1-desc {
    color: #5a5444;
    line-height: 24px;
}
main section.section-2 .section-2-main .section-2-1 .section-2-1-content .section-2-1-link, main section.section-2 .section-2-main .section-3-1 .section-3-1-content .section-3-1-link {
    color: #5a5444;
    font-weight: bold;
}
main section.section-2 .section-2-main .section-2-1 .section-2-1-img, main section.section-2 .section-2-main .section-3-1 .section-3-1-img {
    width: 50%;
}
main section.section-2 .section-2-main .section-2-1 .section-2-1-img picture, main section.section-2 .section-2-main .section-3-1 .section-3-1-img picture {
    width: 100%;
}
main section.section-2 .section-2-main .section-2-1 .section-2-1-img picture img, main section.section-2 .section-2-main .section-3-1 .section-3-1-img picture img {
    width: 100% !important;
}
main section.section-2 .section-2-main .section-3-1 {
    background: unset;
}




@media only screen and (max-width: 1400px) {
    main section.section-2 .section-2-main .section-2-images img:nth-child(7), main section.section-2 .section-2-main .section-2-images img:nth-child(8) {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    main section.section-2 .section-2-main .section-2-images img:nth-child(6), main section.section-2 .section-2-main .section-2-images img:nth-child(7), main section.section-2 .section-2-main .section-2-images img:nth-child(8) {
        display: none;
    }
    main section.section-1 .section-1-main {
        flex-direction: column-reverse;
        row-gap: 25px;
    }
    main section.section-1 .section-1-main .section-1-content, main section.section-1 .section-1-main .section-1-img {
        width: 100%;
    }
    main section.section-2 .section-2-main .section-2-images img {
        width: 94px;
    }
    main section.section-2 .section-2-main .section-2-1, main section.section-2 .section-2-main .section-3-1 {
        flex-direction: column;
        row-gap: 25px;
        padding: 50px 50px 0px 50px;
    }
    main section.section-2 .section-2-main .section-3-1 {
        flex-direction: column-reverse;
        padding: 0px;
        row-gap: 25px;
    }
    main section.section-2 .section-2-main .section-2-1 .section-2-1-content, main section.section-2 .section-2-main .section-3-1 .section-3-1-content, main section.section-2 .section-2-main .section-2-1 .section-2-1-img, main section.section-2 .section-2-main .section-3-1 .section-3-1-img {
        width: 100%;
    }

    footer .footer-main .footer-content .footer-2 {
        flex-direction: column;
        row-gap: 25px;
    }
    footer .footer-main .footer-content .footer-2 .footer-f1, footer .footer-main .footer-content .footer-2 .footer-f2 {
        width: 100%;
    }

    nav .nav-main, main section.section-1 .section-1-main, main section.section-2 .section-2-main, footer .footer-main {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    main section.section-2 .section-2-main .section-2-images img:nth-child(4), main section.section-2 .section-2-main .section-2-images img:nth-child(5), main section.section-2 .section-2-main .section-2-images img:nth-child(6), main section.section-2 .section-2-main .section-2-images img:nth-child(7), main section.section-2 .section-2-main .section-2-images img:nth-child(8) {
        display: none;
    }
    nav .nav-main .nav-mobile-menu {
        display: block;
    }
    nav .nav-main ul {
        display: none;
    }
    main section.section-2 .section-2-main .section-2-1 {
        padding: 30px 30px 0px 30px;
        row-gap: 0px;
    }
    main section.section-2 {
        padding: 35px 0px 0px 0px;
    }
    footer .footer-main .footer-content {
        flex-direction: column;
        row-gap: 25px;
    }
    footer .footer-main .footer-content .footer-1, footer .footer-main .footer-content .footer-2 {
        width: 100%;
    }
    footer .footer-main .footer-content .footer-2 {
        flex-direction: column-reverse;
        row-gap: 20px;
    }
}